*, *::after,  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: black 1px solid; */
}

html, body {
    background: radial-gradient(ellipse at top, #5489c2, #8c3eb33f),
    linear-gradient(140deg, rgb(108, 108, 108), transparent 70% 100%),
    radial-gradient(ellipse at bottom, #bf1c63a3, #28b81b);
    height: 100vh;
    overflow: hidden;
    /* padding: 10px; */
    font-family: 'Roboto', sans-serif;
    z-index: -10;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.key-element:not(#chat) {
    margin: 1.5vh auto;
    border-radius: 8px;
}

.button {
    padding: 2vh;
    text-decoration: none;
    color: #283887;
    border-radius: 8px;
    font-size: 1.2rem;
    margin: 15px 0;
    background: #5c9d5e;
    text-align: center;
}


#logo {
    background: radial-gradient(rgb(165, 0, 198),rgb(70, 0, 84));
    width: 20vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo.key-element {
    margin-right: 0;
}

#userlist.key-element {
    margin-right: 0;
}


nav {
    background: #0d3509;
    width: 75vw;
    height: 20vh;
}

#userlist {
    width: 20vw;
    height: 50vh;
    margin-right: 0;

}

#chat-frame {
    width: 75vw;
    height: 50vh;

    display: flex;
    justify-content: flex-start;
    background: linear-gradient(30deg, #9fb5a7e5, #54966Ecd), linear-gradient(#fff, #fff);
}

#chat {
    background: linear-gradient(90deg, rgb(194, 194, 194), #fff);
    width: 75%;
    height: 100%;
    border-radius: 8px;
}

#input-panel {
    width: 96.5vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}




/* +++++++++++++++++  Top  +++++++++++++++++++++ */

#logo h1 {
    color: white;
}

#userlist ul {
    list-style: none;
    margin: 20px;
    line-height: 2rem;
}

#userlist li {
    color:#283887;
}

#userlist li {
    border-bottom: #0d3509 dotted 1px;
}

.basic-box {
    background: radial-gradient(#54966E, #136534);
    border: #0d5706 1px solid;
}




/* +++++++++++++++++  Center  +++++++++++++++++++++ */

#chatlist > .button {
    width: 18vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#chatlist > .button:not(.checked):hover {
    background: hsl(122, 26%, 79%);
}

#chatlist > .button.checked {
    background: white;
}







/* +++++++++++++++++  Bottom  +++++++++++++++++++++ */

#stylers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

#send-btn-wrapper {
    display: flex;
    justify-content: center;
    width: 18vw;
    margin-right: 0.75vw;
}

#txt {
    flex-basis: 56.25vw;
    display: flex;
    /* justify-content: flex-start; */
    margin-left: 3vw;
}

#txt > #inputtxt {
    font-size: 1.7rem;
    border-radius: 8px;
    border: 1px solid #0d5706;
    flex-basis: 56.25vw;
}

#stylers-wrapper > .button {
    border: 1px solid #0d5706;
}

#stylers-wrapper > .button:hover {
    background: hsl(122, 26%, 79%);
}


#stylers-wrapper .text-stylers {
    width: 3rem;
    height: 3rem;
    margin: 0.5vw;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send_btn {
    background: radial-gradient(rgb(165, 0, 198),rgb(70, 0, 84));
}

#input-panel  #send_btn.button:hover {
    background: hsl(307, 25%, 79%);
}




