*, *::after,  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: black 1px solid; */
}

html, body {
    background: radial-gradient(ellipse at top, #5489c2, #8c3eb33f),
    linear-gradient(140deg, rgb(108, 108, 108), transparent 70% 100%),
    radial-gradient(ellipse at bottom, #bf1c63a3, #28b81b);
    height: 100vh;
    overflow: hidden;
    /* padding: 10px; */
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content:center; */
}

.key-element:not(#chat) {
    margin: 1.5vh auto;
    border-radius: 8px;
}


#logo {
    background: #28b81b;
    width: 20vw;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo.key-element {
    margin-right: 0;
}

#userlist.key-element {
    margin-right: 0;
}


nav {
    background: #0d3509;
    width: 75vw;
    height: 20vh;
}

#userlist {
    background: #331bb8;
    width: 20vw;
    height: 50vh;
    margin-right: 0;
}

#chat-frame {
    background: #28b81b;
    width: 75vw;
    height: 50vh;

    display: flex;
    justify-content: flex-start;
}

#chat {
    background: white;
    width: 75%;
    height: 100%;
    border-radius: 8px;
}

#input-panel {
    background: #e1da13;
    width: 96.5vw;
    height: 20vh;
}




/* +++++++++++++++++  Top  +++++++++++++++++++++ */

#logo h1 {
}




#userlist ul {
    list-style: none;
    margin: 10px;
}







