/* ++++++++++++++++++++++++++  General  ++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: radial-gradient(ellipse at top, #5489c2, #fff9523f),
    linear-gradient(140deg, #6c6c6c, transparent 70% 100%),
    radial-gradient(ellipse at bottom, #bf1c63a3, #28b81b);
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  z-index: -10;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

::selection {
  background-color: #c6b500c8;
}

div.key-element,
nav.key-element {
  transition: opacity 1.8s;
  opacity: 0.1;
}

.key-element {
  margin: 1.5vh auto;
  border-radius: 8px;
}

.basic-box {
  background: radial-gradient(#54966e, #346039);
  border: #0d5706 1px solid;
}

.button {
  padding: 2vh;
  text-decoration: none;
  color: #283887;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 5px 0;
  background: #5c9d5e;
  text-align: center;
}

.button:hover {
  background: radial-gradient(#ffffff77, #4a9a4a);
  cursor: default;
  text-shadow: 1px 1px 1px #5e6fc4;
  box-shadow: 1px 2px 3px -1px #083e03;
}

.button:active {
  background: #daca1fbd;
}

.button:not(#logout_btn) {
  border: 1px solid #0d5706;
  box-shadow: 1px 2px 3px -1px #0d5706;
}

/* +++++++++++++++++++++++++++ Message in chat */

.message {
  margin: 1px;
  transition: background-color 6s;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 3px;
}

.new-message {
  background-color: #c6b500;
}

.message > .name-span {
  color: #283887;
}

.message > .name-span:not(.currentUser) {
  cursor: alias;
}

.message > .name-span:not(.currentUser):hover {
  text-decoration: underline;
  color: #55502b;
}

.currentUser {
  font-weight: 700;
}

/* ++++++++++++++++++++++++++++++++++++++++ Bottom */

/* +++++++++++++++++++++++++++  Top  +++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#logo {
  background: radial-gradient(#c6b500, #55502b);
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 1px #413d21;
}

nav {
  width: 75vw;
  height: 20vh;
  padding: 10px;
  background: #0d3509;
  box-shadow: 1px 1px 1px #0d3509;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

#logo.key-element,
#userlist_box.key-element {
  margin-right: 0;
}

/* +++++++++++++++++++++++++++ */

#logo h1 {
  color: white;
}

#logout_btn {
  align-self: flex-start;
  text-shadow: 1px 1px 1px #5e6fc425;
}

#logout_btn:hover {
  background: radial-gradient(#ffffff77, #4a9a4a);
  text-shadow: 0px 0px 1px #5e6fc4;
}

#whois {
  margin: 10px 20px;
}

/* #music {
  font-size: 2.2rem;
  justify-self: flex-end;
  flex-wrap: wrap-reverse;
  align-self: flex-end;
  order: -1;
}

#music:hover {
  cursor: pointer;
}

.music_on {
  text-shadow: 1px 1px 2px #083e03;
}

.music_off {
  text-shadow: 1px 1px 2px#808080;
} */

/* +++++++++++++++++++++++++++  Center  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#userlist_box {
  width: 20vw;
  height: 50vh;
  margin-right: 0;
  background: radial-gradient(#9fb5a7e5 30%, #54966ecd 110%),
    radial-gradient(#ffffff72, #ffffff40);
  overflow-y: hidden;
  border: 0;
  box-shadow: 1px 1px 1px #0d3509;
}

#userlist_box:hover {
  overflow-y: auto;
}

#chat-frame {
  width: 74.7vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(150deg, #9fb5a7e5 60%, #54966ecd),
    linear-gradient(#ffffff40, #ffffff40);
  box-shadow: 1px 1px 1px #0d3509;
}

#chat-wrap {
  display: flex;
  background: linear-gradient(90deg, #d3d3d3, #fff);
  width: 75%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#chat {
  background: linear-gradient(90deg, #d3d3d3, #fff);
  height: 98%;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-y: hidden;
  padding: 0 5px;
  align-self: center;
}

#chat:hover {
  overflow-y: auto;
}

#chatlist {
  overflow-y: hidden;
  overflow-x: hidden;
}

#chatlist:hover {
  overflow-y: auto;
}

/* +++++++++++++++++++++++++++ */

#userlist_box ul {
  list-style: none;
  margin: 20px;
  line-height: 2rem;
}

#userlist_box li {
  color: #283887;
  cursor: pointer;
  padding-left: 8px;
  transition: background-color 0.1s;
  overflow-x: hidden;
}

#userlist_box li:hover {
  color: #55502b;
  cursor: pointer;
  background: #ffffff25;
  border-radius: 3px;
}

#userlist_box li {
  border-bottom: #0d3509 dotted 1px;
}

#userlist li.inactive_user {
  color: #282828;
}

#userlist li.inactive_user:hover {
  color: black;
}

#chatlist > .button {
  width: 17vw;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 15px 0;
  cursor: default;
  border: none;
  box-shadow: -2px 2px 4px -1px #0d5706;
}

#chatlist > .button:not(.checked):hover {
  background: #bcd7bc;
}

#chatlist > .button.checked:hover {
  color: #55502b;
}

#chatlist > .button.checked {
  background: white;
}

/* #bottom_userlist_bar {
  height: 10%;
  background-color: red;
} */

/* +++++++++++++++++++++++++++  Bottom  +++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#input-panel {
  width: 96.5vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 1px #0d3509;
  /* padding-bottom: 1vh; */
}

/* +++++++++++++++++++++++++++ Wrappers */

#stylers-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  height: 90%;
  padding: 1vh;
}

#main-input-wpapper {
  display: flex;
  flex-direction: column;
  flex-basis: 58vw;
  height: 100%;
}

#text-and-color-wrapper {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#send-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 18.5vw;
}

/* +++++++++++++++++++++++++++ Font Modifiers and Pallete Button */

#stylers-wrapper {
  display: flex;
}

.text-stylers {
  width: 2.7rem;
  height: 2.7rem;
  margin: 0.5vw;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paintbrush {
  background: url(img/paintbrush.png) center center/ 46% no-repeat, #5c9d5e;
  height: 2.7rem;
  margin-right: -0.07vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#paintbrush:hover {
  background: url(img/paintbrush.png) center center/ 46% no-repeat,
    radial-gradient(#ffffff77, #4a9a4a);
}

#paintbrush:active {
  background: url(img/paintbrush.png) center center/ 46% no-repeat, #daca1fbd;
}

/* +++++++++++++++++++++++++++  Input txt */

#reply-to,
#smiles {
  width: 51.7vw;
  height: 30%;
  align-self: flex-end;
}

#reply-to {
  display: flex;
  visibility: hidden;
  align-items: flex-end;
  color: white;
  font-size: 0.9rem;
  font-style: italic;
}

#color-picker {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

#txt {
  flex-basis: 51.7vw;
  display: flex;
}

#inputtxt {
  height: 2.7rem;
  display: block;
  font-size: 2rem;
  border-radius: 8px;
  border: 1px solid #0d5706;
  flex-basis: 51.7vw;
  outline: 0;
  padding: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#inputtxt:active,
#inputtxt:focus {
  box-shadow: inset 0px 0px 0px 3px #c6b500;
}

#smiles {
  overflow: hidden;
}

.smile {
  cursor: pointer;
}

.smile:hover {
  text-shadow: 0px 0px 3px white;
}

/* +++++++++++++++++++++++++++  Send btn */

#send_btn {
  background: radial-gradient(ellipse at top, #c6b500, #55502b);
  color: white;
  width: 12vw;
  text-shadow: 1px 1px 2px black;
}

#input-panel #send_btn.button:hover {
  background: radial-gradient(ellipse at top, #c6b500 25%, #55502b);
  color: #283887;
  text-shadow: 1px 1px 1px white;
}

/* input,
select,
textarea {
  color: red;
} */

/* +++++++++++++++++++++++++++  Modal  +++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.modal {
  height: 100vh;
  width: 100vw;
  background-color: #b1b1b1bd;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#login,
#register {
  width: 50vw;
  height: 50vh;
  color: white;
  overflow: auto;
}

#login *,
#register * {
  display: block;
}

#login h2,
#register h2 {
  color: white;
  text-align: center;
  margin: 1.2rem 0 1.7rem;
}

.modal :is(input, a) {
  margin: 0 0 1.2vh;
}

.modal label {
  margin-bottom: 0.5vh;
}

.modal input[type="button"] {
  margin-top: 0.8vh;
  padding: 0.4vh 2.9vh;
  font-weight: 700;
  font-size: 0.9rem;
}

#login,
#register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal a {
  font-size: 0.9rem;
}

#submit_btn,
#submit_btn_reg {
  border-radius: 4px;
}

#submit_btn:hover,
#submit_btn_reg:hover {
  background-color: #d0d0d0;
}

#username,
#password,
#username_reg,
#password_reg {
  border-radius: 4px;
  padding: 3px;
  outline: 0;
}

html :is(#username, #password, #username_reg, #password_reg):hover,
html :is(#username, #password, #username_reg, #password_reg):active {
  box-shadow: inset 0px 0px 0px 2px #c6b500;
}
