*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  background: radial-gradient(ellipse at top, #5489c2, #8c3eb33f),
    linear-gradient(140deg, #6c6c6c, transparent 70% 100%),
    radial-gradient(ellipse at bottom, #bf1c63a3, #28b81b);
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  z-index: -10;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.key-element:not(#chat) {
  margin: 1.5vh auto;
  border-radius: 8px;
}

.button {
  padding: 2vh;
  text-decoration: none;
  color: #283887;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 15px 0;
  background: #5c9d5e;
  text-align: center;
}

#logo {
  background: radial-gradient(#a500c6, #460054);
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo.key-element {
  margin-right: 0;
}

#userlist_box.key-element {
  margin-right: 0;
}

nav {
  background: #0d3509;
  width: 75vw;
  height: 20vh;
}

#userlist_box {
  width: 20vw;
  height: 50vh;
  margin-right: 0;
  background: radial-gradient(#9fb5a7e5, #54966ecd), linear-gradient(#fff, #fff);
  overflow: auto;
}

#chat-frame {
  width: 75vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(30deg, #9fb5a7e5, #54966ecd),
    linear-gradient(#fff, #fff);
}

#chat {
  background: linear-gradient(90deg, #d3d3d3, #fff);
  width: 75%;
  height: 100%;
  border-radius: 8px;
  overflow-y: auto;
}

#chatlist {
  overflow: auto;
}

#input-panel {
  width: 96.5vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message {
  margin: 5px;
}

.message > .name-span {
  color: #283887;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(177, 177, 177, 0.742);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_hidden {
  display: none;
}

/* +++++++++++++++++  Top  +++++++++++++++++++++ */

#logo h1 {
  color: white;
}

#userlist_box ul {
  list-style: none;
  margin: 20px;
  line-height: 2rem;
}

#userlist_box li {
  color: #283887;
  cursor: pointer;
}

#userlist_box li:hover {
  color: #a500c6;
  cursor: pointer;
}

#userlist_box li {
  border-bottom: #0d3509 dotted 1px;
}

.basic-box {
  background: radial-gradient(#54966e, #136534);
  border: #0d5706 1px solid;
}

nav {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}

#audio {
  margin: -5px 20px;
  cursor: pointer;
}

/* +++++++++++++++++  Center  +++++++++++++++++++++ */

#chatlist > .button {
  width: 17vw;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#chatlist > .button:not(.checked):hover {
  background: hsl(122, 26%, 79%);
}

#chatlist > .button.checked {
  background: white;
}

/* +++++++++++++++++  Bottom  +++++++++++++++++++++ */

#stylers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

#send-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 18vw;
  margin-right: 0.75vw;
}

#txt {
  flex-basis: 56.25vw;
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 3vw;
}

#txt #inputtxt {
  font-size: 1.7rem;
  border-radius: 8px;
  border: 1px solid #0d5706;
  flex-basis: 56.25vw;
}

#stylers-wrapper > .button {
  border: 1px solid #0d5706;
}

#stylers-wrapper > .button:hover {
  background: hsl(122, 26%, 79%);
}

#stylers-wrapper .text-stylers {
  width: 3rem;
  height: 3rem;
  margin: 0.5vw;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#send_btn {
  background: radial-gradient(rgb(165, 0, 198), rgb(70, 0, 84));
  color: white;
  width: 12vw;
}

#input-panel #send_btn.button:hover {
  background: radial-gradient(rgb(215, 188, 212), rgb(70, 0, 84));
  color: #283887;
}

/* +++++++++++++++++  Modal  +++++++++++++++++++++ */

#login,
#register {
  width: 50vw;
  height: 40vh;
  color: white;
  overflow: auto;
}

#login *,
#register * {
  display: block;
}

#login h2,
#register h2 {
  color: white;
  text-align: center;
  margin: 1.2rem 0 1.7rem;
}

.modal :is(input, a) {
  margin: 0 0 1.2vh;
}

.modal label {
  margin-bottom: 0.5vh;
}

.modal input[type="button"] {
  margin-top: 0.8vh;
  padding: 0.4vh 2.9vh;
  font-weight: 700;
  font-size: 0.9rem;
}

#login,
#register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal a {
  font-size: 0.9rem;
}

/*

example of beautiful transition

.countries {
  opacity: 0;
  transition: opacity 3s;
}

*/
